files:
  "/etc/httpd/conf.d/static-files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Alias /static/ /var/app/current/staticfiles/
      <Directory /var/app/current/staticfiles/>
          Require all granted
      </Directory>


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: expense.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: expense.settings
    ALLOWED_HOSTS: "expense-application-env.eba-7v85kh5i.us-east-1.elasticbeanstalk.com"
    SECRET_KEY: 'u9m$p0h+6o)sz=lz8(c_2!js_d7&8s7v5$w&+42)v+-z18ufga'
    DEBUG: "False"  # Set debug to False for production