files:
  "/etc/nginx/conf.d/static-files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /static/ {
          alias /var/app/current/staticfiles/;
          autoindex on;
          access_log off;
      }

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  02_enable_log_streaming:
    command: "python scripts/enable_log_streaming.py"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: expense.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: expense.settings
    ALLOWED_HOSTS: "expense-application-env.eba-7v85kh5i.us-east-1.elasticbeanstalk.com"
    SECRET_KEY: 'u9m$p0h+6o)sz=lz8(c_2!js_d7&8s7v5$w&+42)v+-z18ufga'
    DEBUG: "False"  # Set debug to False for production