
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<html>
    <head>
        <title>TrackYourEuro Registration</title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css" integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3>TrackYourEuro Registration</h3>
            <br>
            <br>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}
                <br><br>
                <button class="btn btn-secondary btn-md w-100 btn-block p-3" type="submit">Register</button>
            </form>
        </div>
        <br>
    </body>
</html>
{% endblock content %}
